* {
  margin: 0;
}

html {
  --primary: #f7f6f1;
  --secondary: #191919;
  scroll-behavior: smooth;
  --blueblack: #1b2636;
  --accent: rgb(255, 181, 42);
}

::selection {
  background: var(--accent);
}

img {
  width: 100%;
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
  margin: 0;

  margin-left: auto;
  margin-right: auto;
}

a {
  cursor: pointer;
  text-decoration: none;
}

h1 {
  color: var(--secondary);
  font-family: roc-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: clamp(3.7rem, 14.9vw, 6rem);
  line-height: clamp(2.81rem, 11.34vw, 6rem);
  text-transform: uppercase;
  margin-bottom: 0rem;
}

h2 {
  color: var(--secondary);
  font-family: roc-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  line-height: 3rem;
}

h3 {
  text-align: left;
  font-family: roc-grotesk, sans-serif;
}
h4 {
  color: var(--secondary);
  font-family: roc-grotesk, sans-serif;
  font-weight: 400;
  font-size: 2rem;
  user-select: none;
  color: var(--primary);
}
p {
  color: var(--secondary);
  font-family: roc-grotesk, sans-serif;
  font-weight: 100;
  font-size: 1rem;
}

.max_width {
  max-width: 1500px;
  margin-left: auto !important;
  margin-right: auto !important;
  overflow: hidden;
}
