---
import Back from "../components/Back.astro";
import Buyknap from "../components/Buyknap.astro";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Knap from "../components/Knap.astro";
import PortCard from "../components/Port_card.astro";
import "../styles/general.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="../../svg/logo.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/fmg2iph.css" />
    <title>Julius Elikofer</title>
  </head>
  <body>
    <Header />
    <main>
      <div class="info">
        <div class="header">
          <div>
            <p class="date">Koncept <span><img src="../svg/logo.svg" alt="" /></span> 2023</p>

            <h1>DEN DANSKE CRAFTBEER</h1>
          </div>
          <div class="flex links">
            <Knap name="Prototype" link="https://xd.adobe.com/view/722bdbf8-89a4-48e1-b3cf-be7728fa5d45-2778/" target="blank" />
          </div>
        </div>
        <div class="description">
          <p>Koncept til en explainer side der fortæller om den danske craftbeer. Lavet i Adobe XD.</p>
        </div>
        <div class="tags">
          <p>Markeds resarch</p>
          <p>UI/UX</p>
          <p>Visuel identitet</p>
        </div>
      </div>
      <div class="content">
        <div class="img_container">
          <div class="img_1"></div>
        </div>
      </div>
      <div class="se_mere">
        <h2>Se andre cases</h2>

        <section class="shelf">
          <div class="wrapper">
            <PortCard img="efc_img1" title="EFC 2021" state="Koncept" date="2021" link="efc_case" />
            <PortCard img="oel" title="Øldåser" state="Waterloose Brewing Project" date="2021" link="oeldaaser" />
            <PortCard img="produktplakater" title="Produktplakater" state="Waterloose Brewing Project" date="2022" link="produktplakater" />
            <PortCard img="wbp" title="WBP identitet" state="Waterloose Brewing Project" date="2022" link="wbp" />
            <PortCard img="hvidt_flag" title="Pladecover" state="Koncept" date="2022" link="hvidt_flag" />
          </div>
        </section>
      </div>
    </main>
    <Footer />
  </body>
  <style>
    * {
      --secondary: #101b0d;
      --primary: #abd49f;
      --accent: #ffa200;
    }

    .tags {
      justify-self: end;
      text-align: end;
      margin-top: 1rem;
      margin-right: 1rem;
    }
    .flex {
      display: flex;
      gap: 0.5rem;
    }
    .se_mere {
      margin-top: 5rem;
    }
    h1 {
    }
    .se_mere h2 {
      margin-left: 2rem;
      margin-right: 1rem;
      margin-bottom: 1rem;
    }
    .date {
      display: flex;
      align-content: center;
      gap: 0.3rem;
      flex-wrap: wrap;
    }
    .date img {
      scale: 1;
      height: 1rem;
      padding-top: 0.3rem;
    }
    .img_grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      margin-top: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .img_grid img {
      border-radius: 2rem;
    }

    main {
      margin-top: 5.5rem;
    }

    .content {
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      margin: auto;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 1rem;

      & > *:first-child {
      }
    }

    .description {
      grid-column: 1;
      margin-top: 1rem;
    }
    h2 {
      font-size: 1.5rem;
      line-height: 1.5rem;
    }
    p {
      max-width: 30ch;
    }
    .img_container {
      background-image: url(../img/ddb_wide.webp);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 2rem;
      overflow: hidden;
      min-height: 100%;
      height: 800px;
      grid-column: 1/-1;
    }

    .info {
      margin-left: 1rem;
      margin-right: 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;

      & .header {
        grid-column: 1/-1;
        display: flex;
        justify-content: space-between;
        column-gap: 1rem;
        flex-wrap: wrap;
        height: fit-content;
      }
      & .links {
        align-items: center;
      }
    }
    .active {
      box-sizing: border-box;
      border: 2px solid var(--secondary);
    }
    .shelf {
      overflow: hidden;
      overflow-x: scroll;
      scroll-behavior: smooth;

      cursor: url(svg/move_white.svg), auto !important;
      padding-bottom: 1rem;
      scroll-snap-type: x mandatory;
    }

    .wrapper {
      display: flex;
      gap: 0.5rem;
      margin-left: 1rem;
    }

    .wrapper:after {
      content: "";
      padding-right: 5rem;
    }
    @media (max-width: 768px) {
      .img_container {
        background-image: url(../img/ddb_tall.webp);
      }

      .content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin: auto;
        margin-left: 1rem;
        margin-right: 1rem;
      }

      .info {
        order: -1;
      }

      .img_grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }
  </style>
</html>
