---
import Back from "../components/Back.astro";
import Buyknap from "../components/Buyknap.astro";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Knap from "../components/Knap.astro";
import PortCard from "../components/Port_card.astro";
import "../styles/general.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="svg/logo.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/fmg2iph.css" />
    <title>Julius Elikofer</title>
  </head>
  <body>
    <Header />
    <main>
      <Back />
      <div class="content">
        <div class="img_container">
          <div class="img_1"></div>
        </div>
        <div class="info">
          <p class="date">Koncept <span><img src="svg/logo.svg" alt="" /></span> 2023</p>
          <h1>EFC 2021</h1>
          <p>Identitet, logo, plakat og animation European Footbag Championship 2021 I forbindelse med EFC 2021 som skulle afholdes i den grå hal på Christania.</p>
        </div>
      </div>
      <div class="img_grid">
        <img src="img/efc_2.webp" alt="" />
        <img src="img/efc_3.webp" alt="" />
      </div>
      <div class="se_mere">
        <h2>Se andre cases</h2>

        <section class="shelf">
          <div class="wrapper">
            <PortCard img="efc_img1" title="EFC 2021" state="Koncept" date="2021" link="efc_case" />
            <PortCard img="oel" title="Øldåser" state="Waterloose Brewing Project" date="2021" link="oeldaaser" />
            <PortCard img="produktplakater" title="Produktplakater" state="Waterloose Brewing Project" date="2022" link="produktplakater" />
            <PortCard img="nlf22" title="Nordic light festival" state="Koncept" date="2022" link="ndlfestival" />
            <PortCard img="wbp" title="WBP identitet" state="Waterloose Brewing Project" date="2022" link="wbp" />
            <PortCard img="hvidt_flag" title="Pladecover" state="Koncept" date="2022" link="hvidt_flag" />
            <PortCard img="metropolis_1" title="Kunstplakater" state="juliusflemming" date="Løbende" link="shop" />
          </div>
        </section>
      </div>
    </main>
    <Footer />
  </body>
  <style>
    .se_mere {
      margin-top: 1rem;
    }

    .se_mere h2 {
      margin-left: 1rem;
      margin-right: 1rem;
    }
    .date {
      display: flex;
      align-content: center;
      gap: 0.3rem;
      flex-wrap: wrap;
      margin-bottom: -1rem;
    }
    .date img {
      scale: 1;
      height: 1rem;
      padding-top: 0.3rem;
    }
    .img_grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      margin-top: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .img_grid img {
      border-radius: 2rem;
    }

    main {
      margin-top: 5.5rem;
    }

    .content {
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      margin: auto;
      margin-left: 1rem;
      margin-right: 1rem;
    }

    p {
      max-width: 50ch;
    }
    .img_container {
      background-image: url(img/efc_img1.webp);
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 2rem;
      overflow: hidden;
      min-height: 100%;
      height: 600px;
    }
    .info {
      display: flex;
      flex-direction: column;
      align-content: center;
    }
    .active {
      box-sizing: border-box;
      border: 2px solid var(--secondary);
    }
    .shelf {
      overflow: hidden;
      overflow-x: scroll;
      scroll-behavior: smooth;

      cursor: url(svg/move_white.svg), auto !important;
      padding-bottom: 1rem;
      scroll-snap-type: x mandatory;
    }

    .wrapper {
      display: flex;
      gap: 0.5rem;
      margin-left: 1rem;
    }

    .wrapper:after {
      content: "";
      padding-right: 5rem;
    }

    @media (max-width: 768px) {
      .content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin: auto;
        margin-left: 1rem;
        margin-right: 1rem;
      }

      .info {
        order: -1;
      }

      .img_grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-row: 1fr 1fr;
        gap: 1rem;
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }
  </style>
</html>
