---
import Buyknap from "../components/Buyknap.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Knap from "../components/Knap.astro";
import PortCard from "../components/Port_card.astro";
import "../styles/general.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="../../svg/logo.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/fmg2iph.css" />
    <title>Julius Elikofer</title>
  </head>
  <body>
    <Header />

    <main>
      <div class="max_width">
        <div class="index_overskrift">
          <div class="heading_img_wrapper">
            <img src="svg/logo_round_cream.svg" alt="" />
          </div>
          <div class="text">
            <h1>Webudvikler med grafiker baggrund</h1>
            <p>
              Jeg er grafiker med flair for brand design og visuel kommunikation. <br />
              Disse færdigheder har jeg taget med videre i min uddannelse som webdesigner, hvor jeg har arbejdet koncentreret med både design og udvikling af webløsninger
            </p>
          </div>
          <!-- <div class="knapper_centrum">
            <Knap name="Portfolio" link="/portfolio" />
            <Knap name="Om mig" link="/om_mig" />
            <Knap name="Plakater" link="/shop" />
          </div> -->
        </div>
      </div>

      <section class="experience">
        <section class="info">
          <h2>Erfaring</h2>
          <p>De sidste 4 år har jeg arbejdet som garfiker, både som freelance og som fast grafiker et par steder. Læs mere om hvor jeg har været og hvad jeg har lavet disse steder her</p>
        </section>
        <section class="accordion_container">
          <div class="accordion">
            <div class="header">
              <img class="madklubben_logo" src="../../img/mk_logo_sort.png" alt="" />
              <div class="flex">
                <p class="year">2023 - nu</p>
                <img class="arrow" src="../../svg/arrow_down_black.svg" alt="" />
              </div>
            </div>
            <div class="outer">
              <div class="inner">
                <p>
                  I juli 2023 startede jeg som inhouse grafiker hos Madklubben. Her står jeg for at lave visuelt indhold og skabe nye brands for madklubben.
                  <br />
                  Allerede nu har jeg været ansvarlig for det visuelle brand af <span><a href="https://www.madklubben.dk/restauranter/koebenhavn/lupo/frederiksberg">Lupo Frederiksberg</a></span>, <span
                    ><a href="https://www.madklubben.dk/restauranter/aarhus/lupo/aarhus">Lupo Aarhus</a></span
                  > , <span><a href="https://www.madklubben.dk/restauranter/koebenhavn/hanzo/lyngby">Hanzo Lyngby</a></span> og <span><a href="#">Madklubben - Home of Carlsberg</a></span>
                </p>
              </div>
            </div>
          </div>
          <div class="accordion">
            <div class="header">
              <img class="bocca_logo" src="../../svg/bocca-logo-red.svg" alt="" />
              <div class="flex">
                <p class="year">2020 - 2023</p>
                <img class="arrow" src="../../svg/arrow_down_black.svg" alt="" />
              </div>
            </div>
            <div class="outer">
              <div class="inner">
                <p>
                  På BOCCA lavede jeg grafik til en række storcentre. For det meste er det SoMe indhold og abribusser <br />
                  Det bedste ved BOCCA er at der er plads til at udfordre sig selv og bruge sin egen kreativitet. <br />
                  BOCCA er et sted hvor alle hjælper hindanen og alle arbejder på kryds og tvers med diverse opgaver.
                </p>
                <div class="knap_container">
                  <Knap name="BOCCA" link="https://bocca.dk/" target="blank" />
                </div>
              </div>
            </div>
          </div>
          <div class="accordion">
            <div class="header">
              <img class="julius_logo" src="../../svg/julius_flemming_logo.svg" alt="" />
              <div class="flex">
                <p class="year">2020 - 2023</p>
                <img class="arrow" src="../../svg/arrow_down_black.svg" alt="" />
              </div>
            </div>
            <div class="outer">
              <div class="inner">
                <p>
                  Siden 2018 har jeg haft min egen virksomhed. Herigennem har jeg solgt grafiske løsninger (Plakater, logoer, tryksager m.v.) til forskellige kunder. <br />
                  <br /> Jeg har også solgt mine egne kunstplakater gennem min egen webshop, som dog er inaktiv i øjeblikket da jeg simpelthen ikke har tid til at vedligeholde den i øjeblikket. Mine plakater
                  kan do gses på min instagram og på min plakat side på min portfolio.
                </p>
                <div class="knap_container">
                  <Knap name="Juliusflemming.com" link="https://juliusflemming.com/" target="blank" />
                </div>
              </div>
            </div>
          </div>
          <div class="accordion">
            <div class="header">
              <img class="kea_logo" src="../../img/kea_logo.png" alt="Kea logo" />
              <div class="flex">
                <p class="year">2022 - nu</p>
                <img class="arrow" src="../../svg/arrow_down_black.svg" alt="" />
              </div>
            </div>
            <div class="outer">
              <div class="inner">
                <p>
                  Siden august 2022 har jeg gået på Multimediedesign på KEA. Her har jeg suppleret mine autodidakte evner inde for grafiske redskaber (RED Adobe pakken) med UI/UX viden og FIGMA færdigheder.
                  Færdigheder inde for frontend med HTML, CSS & JS.

                </p>
               
              </div>
            </div>
          </div>
        </section>
      </section>
      <section class="skills">

        <div>
<h2>
  Færdigheder
</h2>
<p>
Igennem mit virke som grafiker, har jeg en dele autodidakte færdigheder, og programmer som jeg derigennem bruger aktivt og har et rigtig godt kendskab til, derudover har jeg gennem min uddannelse på KEA, tillært mig en del andre færdigheder. Alle disse har jeg listet op nedenfor.
</p>
</div>
<div class="skill_list" >
  <div>
<div>
  <div class="skill">
    <img src="../../img/illustrator_logo.png" alt="Ai logo">
    <h4>Adobe illustrator</h4>
  </div>

  <div class="skill">
    <img src="../../img/photoshop_logo.png" alt="Ps logo">
    <h4>Adobe Photoshop</h4>

</div>
  <div class="skill">
    <img src="../../img/id_logo.png" alt="Ps logo">
    <h4>Adobe Indesign</h4>

</div>
</div>

  <div class="skill">
    <img src="../../img/ae_logo.png" alt="Ps logo">
    <h4>Adobe After effects</h4>

</div>
</div>
<div>
  <div class="skill">
    <img src="../../img/figma_logo.png" alt="figma logo">
    <h4>Figma</h4>

</div>
  <div class="skill">
    <img src="../../img/html_logo.png" alt="Ps logo">
    <h4>Html</h4>

</div>
  <div class="skill">
    <img src="../../img/css_logo.png" alt="Ps logo">
    <h4>css</h4>

</div>
  <div class="skill">
    <img src="../../img/js_logo.png" alt="Ps logo">
    <h4>Javascript</h4>

</div>
</div>
  
</div>
      </section>

    
    </main>
    <section class="projects">
      <h2>Projekter</h2>
      <section class="shelf">
        <div class="wrapper">
          <PortCard img="lupo_header" title="Lupo" state="Madklubben" date="2023" link="efc_case" />
          <PortCard img="efc_img1" title="EFC 2021" state="Koncept" date="2021" link="efc_case" />
          <PortCard img="oel" title="Øldåser" state="Waterloose Brewing Project" date="2021" link="oeldaaser" />
          <PortCard img="produktplakater" title="Produktplakater" state="Waterloose Brewing Project" date="2022" link="produktplakater" />
          <PortCard img="nlf22" title="Nordic light festival" state="Koncept" date="2022" link="ndlfestival" />
          <PortCard img="wbp" title="WBP identitet" state="Waterloose Brewing Project" date="2022" link="wbp" />
          <PortCard img="hvidt_flag" title="Pladecover" state="Koncept" date="2022" link="hvidt_flag" />
          <PortCard img="metropolis_livingroom" title="Kunstplakater" state="juliusflemming" date="Løbende" link="shop" />
        </div>
      </section>
            </section>

    <Footer />
  </body>
</html>

<style>


  .projects h2{
    margin-left: 1rem;
  }
 .shelf {
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
    margin-top: 1rem;
    cursor: url(svg/move_white.svg), auto !important;
    padding-bottom: 1rem;
    scroll-snap-type: x mandatory;
  }

  .wrapper {
    display: flex;
    gap: 0.5rem;

  }

  .wrapper:after {
    content: "";
    padding-right: 5rem;
   
  }


  @media (max-width: 800px) {

    .container {
    }
  }
.projects{
  min-height: 600px;
margin-top: 3rem; 
}

.skill_list{
  margin-top: 1rem;
  width: 100%;
  display: flex;
  gap: 1rem;


}
.skill{
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
  padding-left: 0rem;


}
.skill img{
  max-height: 30px;
  width: 30px;
}

.skill h4{
  line-height: 1rem;
  font-size: 1rem;
}
    main{
    padding: 1rem;
    margin-top: 70px;
  }


  .skills{

    margin-top: 4rem;
    
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
align-items: flex-start;

  }
  a {
    color: rgb(255, 166, 0);
  }

  a:hover {
    text-decoration: underline;
  }
  .arrow {
    transition: 0.5s ease-in-out;
    transform: rotate(0deg);
  }
  .active .arrow {
    transform: rotate(180deg);
    transition: 0.5s ease-in-out;
  }
  .knap_container {
    margin-top: 0.5rem;
    display: inline-block;
    margin-right: auto;
  }

  .accordion .arrow {
    width: 20px;
    height: 20px;
  }
  .accordion .madklubben_logo {
    width: 100px;
    height: auto;
    scale: 1;

  }
 .accordion .kea_logo{
  width: auto;
  height: 20px;
  margin-left: 0.3rem;

}
  .accordion .bocca_logo {
    width: auto;
    height: 20px;
    scale: 1;

  }
  .accordion .julius_logo {
    width: auto;
    height: 20px;
    scale: 1;

  }
  .accordion .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .accordion:hover {
    cursor: pointer;
  }
  .year {
    font-size: 0.8rem;
  }
  .flex {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  h4 {
    line-height: 2rem;
  }
  .experience {
max-width: 800px;
margin-left: auto;
margin-right: auto;
    align-items: center;
    min-height: 20rem;
    margin-top: 2rem;
  }
  .accordion_container{
    margin-top:1rem ;
  }
  .info {

  }
  .outer {
    overflow: hidden;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-in-out;
  }

  .accordion.active .outer {
    grid-template-rows: 1fr;
  }
  .inner {
    overflow: hidden;
  }
  .accordion_container {

  }
  .accordion {
    border-bottom: 1px solid var(--secondary);
    padding: 1.4rem;
  }
  h4 {
    color: var(--secondary);
  }
  p {
    max-width: 70ch;
  }
  .heading_img_wrapper {
    height: 600px;
    width: 100%;
    overflow: hidden;
    background-color: var(--secondary);



    border-radius: 2rem;
    display: flex;
    justify-content: center;
    background-image: url(../../img/profil.webp);
    background-size: cover;
    background-position-x: center;
  }

  .text {

  }

  
  h1 {
    margin-top: 0.5rem;
    line-height: 1;
    font-size: 4rem;
  }

  .display {
    animation-name: display;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
  }

  @keyframes display {
    from {
      height: 0px;
    }
    to {
      height: 660px;
    }
  }

  .heading_img_wrapper img {
    width: 35%;
    animation-name: rotate;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(-360deg);
    }
  }

  .heading_wrapper {
    overflow: hidden;
    height: 160px;
    width: 100%;
    border-bottom: var(--secondary) solid 1.5px;
    border-top: var(--secondary) solid 1.5px;
    padding: 0;
  }

  .heading_text {
    animation-name: reel;
    animation-duration: 5s;
  }

  .knapper_centrum {
    display: flex;
    margin-top: auto;
    gap: 0.5rem;
    margin-right: 1rem;
    /* margin-bottom: 1rem; */
    width: 415px;
    justify-content: end;
  }
  .index_overskrift {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    gap: 2rem;
  }

 @media (max-width: 800px) {

  .heading_img_wrapper {
    height: 500px;


  }
  .heading_img_wrapper img{
    margin-left: 1rem;
  }
      .index_overskrift {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        gap: 0.5rem;
      }
h1{
  font-size: 3rem;
}
.experience {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    


    .text {
      margin-bottom: 1rem;
      margin-top: 0.5rem;
    }
    .knapper_centrum {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-right: 1rem;
      margin-left: 1rem;
      /* margin-bottom: 1rem; */
      width: auto;
      justify-content: end;
    }
    


  }
</style>

<script>
  const acc = document.querySelectorAll(".accordion");

  acc.forEach((thing) => {
    thing.addEventListener("click", () => {
      console.log("false klik");
      if (thing.classList.contains("active")) {
        acc.forEach((thing) => {
          thing.classList.remove("active");
        });
      } else {
        console.log("klik");
        acc.forEach((thing) => {
          thing.classList.remove("active");
        });

        thing.classList.add("active");
      }
    });
  });

  
</script>
