---
import Buyknap from "../components/Buyknap.astro";
import Footer from "../components/Footer.astro";
import Loader from "../components/loader.astro";
import Header from "../components/Header.astro";
import Knap from "../components/Knap.astro";
import PortCard from "../components/Port_card.astro";
import Kontakt from "../components/Kontakt.astro";
import "../styles/general.css";
import Transition from "../components/Transition.astro";
import Accordion from "../components/Accordion.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="../../svg/logo.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/fmg2iph.css" />
    
    <meta property="og:image" content="img/share.png" />
    <title>Julius Elikofer</title>
  </head>
  <body>
    <Transition/>
    <Loader />
    <Header />

    <main>
      <div class="welcome wide_grid">
        <div class="index_overskrift">
        

            
            <div class="heading_img_wrapper">
            
              <img class="logo_round" src="svg/logo_round_cream.svg" alt="" />
            </div>

          
          <div class="text">
            <h1>Webudvikler med grafiker baggrund</h1>
            <p>
              Jeg er grafiker med flair for brand design og visuel kommunikation. <br />
              Disse færdigheder har jeg taget med videre i min uddannelse som webdesigner, hvor jeg har arbejdet koncentreret med både design og udvikling af webløsninger
            </p>
          </div>
          <!-- <div class="knapper_centrum">
            <Knap name="Portfolio" link="/portfolio" />
            <Knap name="Om mig" link="/om_mig" />
            <Knap name="Plakater" link="/shop" />
          </div> -->
        </div>
      </div>

      <section class="experience small_grid">
        <section class="info">
          <h2>Erfaring</h2>
          <p>De sidste 4 år har jeg arbejdet som garfiker, både som freelance og som fast grafiker et par steder. Læs mere om hvor jeg har været og hvad jeg har lavet disse steder her</p>
        </section>
       <Accordion/>
      </section>
      <section class="skills small_grid">
        
        <div>
<h2>
  Færdigheder
</h2>
<p>
Igennem mit virke som grafiker, har jeg en dele autodidakte færdigheder, og programmer som jeg derigennem bruger aktivt og har et rigtig godt kendskab til, derudover har jeg gennem min uddannelse på KEA, tillært mig en del andre færdigheder. Alle disse har jeg listet op nedenfor.
</p>
</div>
<div class="skill_list" >

<div>
  <div class="skill">
    <img src="../../img/illustrator_logo.png" alt="Ai logo">
    <h4>Adobe illustrator</h4>
  </div>

  <div class="skill">
    <img src="../../img/photoshop_logo.png" alt="Ps logo">
    <h4>Adobe Photoshop</h4>

</div>
  <div class="skill">
    <img src="../../img/id_logo.png" alt="Ps logo">
    <h4>Adobe Indesign</h4>


</div>

  <div class="skill">
    <img src="../../img/ae_logo.png" alt="Ps logo">
    <h4>Adobe After effects</h4>

</div>

</div>
<div>
  <div class="skill">
    <img src="../../img/figma_logo.png" alt="figma logo">
    <h4>Figma</h4>

</div>

  <div class="skill">
    <img src="../../img/html_logo.png" alt="Ps logo">
    <h4>Html</h4>

</div>
  <div class="skill">
    <img src="../../img/css_logo.png" alt="Ps logo">
    <h4>css</h4>

</div>
  <div class="skill">
    <img src="../../img/js_logo.png" alt="Ps logo">
    <h4>Javascript</h4>

</div>
</div>
<div>


<div class="skill">
  <img src="../../img/react.png" alt="Ps logo">
  <h4>React</h4>

</div>
<div class="skill">
  <img src="../../img/supabase_logo.png" alt="Ps logo">
  <h4>Supabase</h4>

</div>
  <div class="skill relative">
    <img src="../../img/astro.png" alt="Astro logo">
    <h4>Astro</h4>
    <div class="info">
      <p class="btn">i</p>

      <div class="info_displayer">
        <p>Astro er et framework, som fokusere på komponentbaseret kodning og design</p>

    </div>
  </div>
</div>
</div>
</div>
  
</div>
      </section>
      <section class="what small_grid">
<h2>Praktik</h2>
<p>Mit formål med at gå på multimediedesign på KEA, og derfor også mit formål med mit praktik forløb er at kombinere mine evner og styrker inde for grafisk design og brandudvikling med frontend udvikling. Altså ville drømmen være at kunne arbejde med brand- og webdesigns og også være med til at kode de endelige løsninger.<br> <br>
Jeg er dog også bevidst om at det ikke er en stilling der altid eksistere ude hos virksomhederne - derfor vil jeg være mere end glad for at have mit fokus på en af de to fokusområder, og supplere med min viden om det andet, da jeg mener det er en stor force at have viden og forståelse for hvordan proccesserne fungere i andre dele af produktionskæden :)</p>

      </section>

      <section class="projects">

        <h2 class="small_grid">Projekter</h2>
        <div class="flexaway small_grid">

        
        <div class="sort ">
          <div class="sortbtn webdesign">Webdesign</div>
          <div class="sortbtn frontend">Frontend</div>
          <div class="sortbtn branddesign">Branddesign</div>
          <div class="sortbtn brandudvikling">Brandudvikling</div>
        </div>
        <div class="navigate_projects">
          <div class="prev_project">
            <svg id="Layer_2" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 16.4 16.4"><defs><style>.cls-1{fill:#191919;}</style></defs><g id="Layer_1-2"><polygon class="cls-1" points="16.6 7.2 4 7.2 10.2 1.5 8.8 0 0 8.2 8.8 16.4 10.2 14.9 4 9.2 16.6 9.2 16.6 7.2"/></g></svg>
          </div>
          <div class="next_project">
            <svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.4 16.4"><defs><style>.cls-1{fill:#191919;}</style></defs><g id="Layer_1-2"><polygon class="cls-1" points="16.6 7.2 4 7.2 10.2 1.5 8.8 0 0 8.2 8.8 16.4 10.2 14.9 4 9.2 16.6 9.2 16.6 7.2"/></g></svg>
          </div>
        </div>

      </div>
        
        <section class="shelf pc full_width full_width">
          <div class="wrapper">
            <PortCard classes="Webdesign Frontend Branddesign"  img="omada_wide" title="Omada Deli & Wine" state="Koncept - KEA" date="2023" link="omada" />
            <PortCard classes="Webdesign Branddesign" img="ddb_wide" title="Den Danske Craftbeer" state="Koncept - KEA" date="2023" link="ddb" />
            <PortCard classes="Webdesign Branddesign Brandudvikling" img="harakiri_wide" title="Harakiri" state="Brandudvikling & Webdesign" date="2022" link="harakiri" />
            <PortCard classes="Branddesign Brandudvikling" img="lupo_header" title="Lupo" state="Brandudvikling" date="2023" link="lupo" />
            <PortCard classes="Branddesign Brandudvikling" img="efc_img1" title="EFC 2021" state="Koncept" date="2021" link="efc_case" />
            <PortCard classes="Branddesign Brandudvikling" img="oel" title="Øldåser" state="Waterloose Brewing Project" date="2021" link="oeldaaser" />
            <PortCard classes="Branddesign Brandudvikling" img="produktplakater" title="Produktplakater" state="Waterloose Brewing Project" date="2022" link="produktplakater" />
            <PortCard classes="Branddesign Brandudvikling" img="nlf22" title="Nordic light festival" state="Koncept" date="2022" link="ndlfestival" />
            <PortCard classes="Branddesign Brandudvikling" img="wbp" title="WBP identitet" state="Waterloose Brewing Project" date="2022" link="wbp" />
  
            <PortCard classes="" img="metropolis_livingroom" title="Kunstplakater" state="juliusflemming" date="Løbende" link="shop" />
          </div>
        </section>
        <section class="shelf mobile ">
          <div class="wrapper">
            <PortCard classes="Webdesign Frontend Branddesign" img="omada_tall" title="Omada Deli & Wine" state="Koncept - KEA" date="2023" link="omada" />
            <PortCard classes="Webdesign Branddesign" img="ddb_tall" title="Den Danske Craftbeer" state="Koncept - KEA" date="2023" link="ddb" />
            <PortCard classes="Webdesign Branddesign Brandudvikling" img="harakiri_tall" title="Harakiri" state="Koncept - KEA" date="2023" link="harakiri" />
            <PortCard classes="Branddesign Brandudvikling" img="lupo_header" title="Lupo" state="Madklubben" date="2022" link="efc_case" />
            <PortCard classes="Branddesign Brandudvikling" img="efc_img1" title="EFC 2021" state="Koncept" date="2021" link="efc_case" />
            <PortCard classes="Branddesign Brandudvikling" img="oel" title="Øldåser" state="Waterloose Brewing Project" date="2021" link="oeldaaser" />
            <PortCard classes="Branddesign Brandudvikling" img="produktplakater" title="Produktplakater" state="Waterloose Brewing Project" date="2022" link="produktplakater" />
            <PortCard classes="Branddesign Brandudvikling" img="nlf22" title="Nordic light festival" state="Koncept" date="2022" link="ndlfestival" />
            <PortCard classes="Branddesign Brandudvikling" img="wbp" title="WBP identitet" state="Waterloose Brewing Project" date="2022" link="wbp" />
            <PortCard classes="Branddesign Brandudvikling" img="metropolis_livingroom" title="Kunstplakater" state="juliusflemming" date="Løbende" link="shop" />
          </div>
          
        </section>

              </section>
  
              <section class="kontakt small_grid">
                <h2>Er vi et match?</h2>
                <p>Kontakt mig endelig hvis det lyder som om vi kunne være et match! 
                
                </p>
                <Kontakt />
  
              </section>
    
    </main>
    

    <Footer />
  </body>
</html>

<style>



main{
  	
  display: grid;
  grid-template-columns:
    1fr 800px   1fr;

  column-gap: 1rem;





  @media(width<800px){
display: block;
padding-left: 1rem;
padding-right: 1rem;
grid-template-columns: 0px 1fr 0px;




> * {
    grid-column: 2 !important;
  }




& .small_grid{
  grid-column: 2 !important ;
}

& .wide_grid{
  grid-column: 2 !important;
}

& .full_width{
  grid-column: 2/3 !important;
}




  }
  
  > * {
    grid-column: 2;
  }

& .welcome{
  margin-top: 70px;
  @media(width>800px){
    margin-left: 1rem;
    margin-right: 1rem;
  }
}


& .small_grid{
  grid-column: 2;
}

& .wide_grid{
  grid-column: 1/-1;
}

& .full_width{
  grid-column: 1/-1;
}

& .projects{

  display: contents;

> h2{
  margin-top: 5rem;
}

> * {

      /* Ensure the content that overflows is visible */
      overflow-x: visible;
  }


  > .shelf{
    width: 100%;
      
     

  
    & .wrapper{
      
    }
  

}
}
  }


.flexaway{
  display: flex;
  justify-content: space-between;
  width: 100%;

  & .navigate_projects{

    @media (width<800px){
      display: none;
    }
    >*:hover{
&>img{

}
    }
  }
}


.navigate_projects{
display: flex;
align-items: end;
gap: 0.5rem;

& >*{
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--secondary);
  height: 1rem;
  width: 1rem;

  &:hover{
    background-color: var(--accent);
  }
}
& .next_project{


& svg{
  rotate: 180deg;
& path{

  fill: var(--secondary);
}
}
}
}


  .remove{
    display: none;
  }
  .sort{

    display: flex;
    gap: 0.2rem;
    margin-top: 0.5rem;
    flex-wrap: wrap;
  }
    .sortbtn {
    width: fit-content;
    justify-content: center;
    padding: 0.6rem 1rem 0.6rem 1rem;
    text-align: center;
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    background-color: var(--primary);
    border: var(--secondary) solid 1.5px;
    color: var(--secondary);
    padding: 0.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
    transition: 0.5s ease;
    cursor: pointer;
    overflow: hidden;
  }

.sortbtn.active{
  background-color: var(--secondary);
  color: var(--primary);
}

.computer{
display: block;
}
.mobile{
  display: none;
}

  @media (max-width: 800px) {
 .pc{
display: none;
}
.mobile{
  display: block;
}   
  }
  .kontakt{
margin-top: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
/* .diagram{
  display: flex;
  margin-top: 1rem;
  
}
  .circle{
    height: 300px;
    width: 300px;
    border: 1px solid var(--secondary);
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.circle.one{
  margin-right: -3rem;
}
.circle.second{
  margin-left: -3rem;
} */


.what{

  margin-top: 5rem;
}

.relative{
  position: relative;
}


 
 .shelf {
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
    margin-top: 1rem;
    cursor: url(svg/move_white.svg), auto !important;
    padding-bottom: 1rem;
    scroll-snap-type: x mandatory;
    grid-column: 2;
  }

  .wrapper {

    display: flex;
    gap: 0.5rem;

    @media(width>500px){
      --gap:0rem;
    --content-width:800px;
 margin-inline-start: max(var(--gap), (100% - var(--content-width)) / 2 );
 }
  }

  .wrapper:after {
    content: "";
    padding-right: 5rem;
   
  }


  @media (max-width: 800px) {

    .container {
    }
  }


.skill_list{
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;


}
.skill{
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
  padding-left: 0rem;


}
.skill img{
  max-height: 30px;
  width: 30px;
}

.skill h4{
  line-height: 1rem;
  font-size: 1rem;
}


  .info .btn{
border: 1px solid var(--secondary);
    border-radius:10rem;
    padding: 5px;
    height: 5px;
    width: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

  }
  .info .btn{
    font-size: 0.8rem;
    line-height: 0.8rem;

  } 


.info_displayer {
  padding: 1rem;
  background-color: var(--secondary);
  position: absolute;
  border-radius: 0.6rem;
  transform-origin: left;
  left: 7.5rem;
  top: -4rem;
opacity: 0;
transition: 0.2s ease-in-out;
cursor:default;

}

.info_displayer.active{
  opacity: 100%;
  transition: 0.2s ease-in-out;
}

  .info_displayer p{
    color: var(--primary);
    font-size: 0.8rem!important;
    line-height: 0.8rem !important;

  } 

  .skills{

    margin-top: 4rem;
    

    display: flex;
    flex-direction: column;
align-items: flex-start;

  }
  a {
    color: var(--accent)
  }

  a:hover {
    text-decoration: underline;
  }
  .arrow {
    transition: 0.5s ease-in-out;
    transform: rotate(0deg);
  }
  .active .arrow {
    transform: rotate(180deg);
    transition: 0.5s ease-in-out;
  }
  .knap_container {
    margin-top: 0.5rem;
    display: inline-block;
    margin-right: auto;
  }

  .accordion .arrow {
    width: 30px;
    height: 20px;
    scale: 0.5;
  }
  .accordion .madklubben_logo {
    width: 100px;
    height: auto;
    scale: 1;

  }
 .accordion .kea_logo{
  width: auto;
  height: 20px;
  margin-left: 0.3rem;

}

.inner p{
  margin-top: 0.5rem;
  max-width: 60ch;
}
  .accordion .bocca_logo {
    width: auto;
    height: 20px;
    scale: 1;

  }
  .accordion .julius_logo {
    width: auto;
    height: 20px;
    scale: 1;

  }
  .accordion .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .accordion:hover {
    cursor: pointer;
  }
  .year {
    font-size: 0.8rem;
  }
  .flex {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  h4 {
    line-height: 2rem;
  }
  .experience {

    align-items: center;
    min-height: 20rem;
    margin-top: 2rem;
  }
  .accordion_container{
    margin-top:1rem ;
  }
  .info {

  }

  
  .outer {
    overflow: hidden;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-in-out;
  }

  .accordion.active .outer {
    grid-template-rows: 1fr;
  }
  .inner {
    overflow: hidden;
  }
  .accordion_container {

  }
  .accordion {
    border-bottom: 1px solid var(--secondary);
    padding: 1.4rem;
  }
  h4 {
    color: var(--secondary);
  }
  p {
    max-width: 70ch;
  }
  .heading_img_wrapper {
    height: 600px;
    width: 100%;
    overflow: hidden;
    background-color: var(--secondary);
    position: relative;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    background-image: url(../../img/profil.webp);
    background-size: cover;
    background-position-x: center;

  }
  .img_wrapper {
    height: 600px;
    width: 100%;
    position: relative;
    border-radius: 2rem; }

  .sticker1{
    position: absolute;
    transform-origin: center;
    top: -2rem;
    margin-left: 3rem;
    left: -5rem;
    z-index: 99999;
width: 170px;

  }
  .sticker2{
    position: absolute;
    transform-origin: left;
    left: -7rem;
    z-index: 9999;
    margin-left: 3rem;
bottom: 1.8rem;


width: 300px;
transform: rotate(10deg);

  }

  .text {

  }

  
  h1 {
    margin-top: 0.5rem;
    line-height: 0.8;
    font-size: 4rem;
  }

  .display {
    animation-name: display;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
  }

  @keyframes display {
    from {
      height: 0px;
    }
    to {
      height: 660px;
    }
  }

  .logo_round {
    width: 35%;
    animation-name: rotate;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(-360deg);

    }
  }

  .heading_wrapper {
    overflow: hidden;
    height: 160px;
    width: 100%;
    border-bottom: var(--secondary) solid 1.5px;
    border-top: var(--secondary) solid 1.5px;
    padding: 0;
  }

  .heading_text {
    animation-name: reel;
    animation-duration: 5s;
  }

  .knapper_centrum {
    display: flex;
    margin-top: auto;
    gap: 0.5rem;
    margin-right: 1rem;
    /* margin-bottom: 1rem; */
    width: 415px;
    justify-content: end;
  }
  .index_overskrift {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    gap: 2rem;
  }


 @media (max-width: 800px) {
  html,body{
    overflow-x: hidden;
}
   .skills{
    max-width: none;
   }

  .experience{
    max-width: none;
  }
  .what{
    max-width: none;
  }

  .heading_img_wrapper {
    height: 500px;


  }
  .heading_img_wrapper img{
    margin-left: 1rem;
  }
      .index_overskrift {
        display: flex;
        flex-direction: column;
        margin-top: 0rem;
        gap: 0.5rem;
      }
h1{
  font-size: 3rem;
  text-wrap:balance;
}
.experience {


    


    .text {
      margin-bottom: 1rem;
      margin-top: 0.5rem;
    }
    .knapper_centrum {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-right: 1rem;
      margin-left: 1rem;
      /* margin-bottom: 1rem; */
      width: auto;
      justify-content: end;
    }
    


  }

</style>




<script>















  const infobtn = document.querySelector(".info .btn")
  const infodisplayer = document.querySelector(".info_displayer")

  infobtn.addEventListener("mouseover", (event) => {
    infodisplayer.classList.add("active")
  });
infobtn.addEventListener("mouseout", (event) => {
  infodisplayer.classList.remove("active")
});





const sortbtn = document.querySelectorAll(".sortbtn")
const cards = document.querySelectorAll(".card")

sortbtn.forEach((btn)=>{
  btn.addEventListener("click", (e) => {
    let btnName = btn.textContent
    let btn1 = document.querySelector(".sortbtn.webdesign")
    let btn2 = document.querySelector(".sortbtn.frontend")
    let btn3 = document.querySelector(".sortbtn.branddesign")
    let btn4 = document.querySelector(".sortbtn.brandudvikling")

    


      if(btn.classList.contains("active")){
        btn1.classList.remove("active")
        btn2.classList.remove("active")
        btn3.classList.remove("active")
        btn4.classList.remove("active")
        cards.forEach((card)=>{
        
        card.classList.remove("hide")
          console.log("has been hidden")
        
        })
      }
    
    else{


btn1.classList.remove("active")
btn2.classList.remove("active")
btn3.classList.remove("active")
btn4.classList.remove("active")

    btn.classList.add("active")

    cards.forEach((card)=>{
  
      if(card.classList.contains(btnName)===false){
        card.classList.add("hide")
        console.log("has been hidden")
      }
    else{
      
        card.classList.remove("hide")
    }  
    })
    } 
  });
})




const nextProject = document.querySelector(".next_project");
const prevProject = document.querySelector(".prev_project");

const shelf = document.querySelector(".shelf")


nextProject.addEventListener("click", () =>{
  console.log("next_project")
  
  shelf.scrollLeft += 500;

})
prevProject.addEventListener("click", () =>{
  console.log("next_project")
  
  shelf.scrollLeft -= 500;

})


  
  
</script>
