---
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Knap from "../components/Knap.astro";
import Kontakt from "../components/Kontakt.astro";
import PortCard from "../components/Port_card.astro";
import "../styles/general.css";

const url = "https://ghrfijuvauirpwoirtcq.supabase.co/rest/v1/portfolio";
const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdocmZpanV2YXVpcnB3b2lydGNxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTY4MzMwMjg4NywiZXhwIjoxOTk4ODc4ODg3fQ.zZvWb_XrXFk9FuUZQ-r59-jE65bZGEwiHIu7SJt4uQE";

const respons = await fetch(url, {
  method: "GET",
  headers: {
    apikey: key,
    Accept: "application/json",
    "Content-Type": "application/json",
  },
});
const data = await respons.json();
data.sort((a, b) => a.id - b.id);
console.log("min data", data);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="../../svg/logo.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/fmg2iph.css" />
    <title>Julius Elikofer</title>
  </head>
  <body>
    <Header />
    <main>
      <div class="header">
        <div>
          <h1>Portfolio</h1>
          <p>
            På denne side kan du se min grafiske projekter. Alt fra webløsninger jeg har kodet, grafisk indhold, animation, branding med mere. Har du lyst til at arbejde sammen, eller bare spare med
            mig om noget, så er jeg altid klar på en dialog.
          </p>
        </div>
      </div>
      {
        data.map((item) => {
          return (
            <section class="project">
              <div class="img_container">
                <img src={"../img/" + item.img1 + ".webp"} alt={"billede af " + item.name} />
              </div>
              <div class="text">
                <h2>{item.name}</h2>
                <p>{item.shortDescription}</p>
                <Knap link={"../undersider/" + item.slug} name="Se case" />
              </div>
            </section>
          );
        })
      }
    </main>
    <Footer />
  </body>

  <style>
    main {
      margin-top: 5.5rem;

      & .project {
        & h2 {
          font-size: 5rem;
          line-height: 4rem;
          text-transform: uppercase;
        }
        margin-top: 5rem;
        display: grid;
        grid-template-columns: 1.5fr 1fr;

        gap: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;

        &:nth-child(odd) {
          grid-template-columns: 1fr 1.5fr;
          .img_container {
            order: 1;
          }
        }

        & .img_container {
          overflow: hidden;
          border-radius: 1rem;
          height: 100%;
          height: 500px;

          & img {
            min-height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
        & .text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;

          & p {
            max-width: 30ch;
            margin-bottom: 0.5rem;
          }
        }
        @media (width<800px) {
          display: block;
          & h2 {
            margin-top: 1rem;
            font-size: 2rem;
            line-height: 2rem;
          }
          & .text {
            display: block;
            grid-template-columns: 1fr 1fr;
            & h2 {
              grid-column: 1/-1;
            }
            & p {
              grid-column: 1;
            }
            & a {
              grid-column: 1;
            }
          }
        }
      }
    }
    p {
      max-width: 100ch;
    }
    .shelf {
      overflow: hidden;
      overflow-x: scroll;
      scroll-behavior: smooth;
      margin-top: 1rem;
      cursor: url(svg/move_white.svg), auto !important;
      padding-bottom: 1rem;
      scroll-snap-type: x mandatory;
    }

    .wrapper {
      display: flex;
      gap: 0.5rem;
      margin-left: 1rem;
    }

    .wrapper:after {
      content: "";
      padding-right: 5rem;
    }

    .header {
      display: flex;
      justify-content: space-between;
      margin-right: 1rem;
      align-items: flex-end;
      margin-left: 1rem;
      gap: 1rem;
    }

    @media (max-width: 800px) {
      .header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 1rem;
        align-items: flex-start;
      }
      .container {
      }
    }
  </style>
</html>
