---
import Back from "../components/Back.astro";
import Buyknap from "../components/Buyknap.astro";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Knap from "../components/Knap.astro";
import PortCard from "../components/Port_card.astro";
import "../styles/general.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="../../svg/logo.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/fmg2iph.css" />
    <title>Julius Elikofer</title>
  </head>
  <body>
    <Header />
    <main>
      <div class="info">
        <div class="header">
          <div>
            <div class="date">
              <p>Waterloose Brewing Project</p>
              <svg xmlns="http://www.w3.org/2000/svg" width="457" height="457" viewBox="0 0 457 457"><g id="Layer_1-2"><g><rect x="223.79" width="9.42" height="457"/><rect x="223.79" y="0" width="9.42" height="457" transform="translate(228.5 -94.65) rotate(45)"/><rect x="223.79" width="9.42" height="457" transform="translate(457) rotate(90)"/><rect x="223.79" y="0" width="9.42" height="457" transform="translate(551.65 228.5) rotate(135)"/><rect x="223.79" y="0" width="9.42" height="457" transform="translate(551.65 228.5) rotate(135)"/><rect x="223.79" y="0" width="9.42" height="457" transform="translate(104.45 -69.89) rotate(22.43)"/><rect x="223.79" y="0" width="9.42" height="457" transform="translate(351.78 -70.21) rotate(67.43)"/><rect x="223.79" y="0" width="9.42" height="457" transform="translate(526.89 104.45) rotate(112.43)"/><rect x="223.79" y="0" width="9.42" height="457" transform="translate(527.21 351.78) rotate(157.43)"/><rect x="223.79" y="0" width="9.42" height="457" transform="translate(527.21 351.78) rotate(157.43)"/></g></g></svg>
              <p>2023</p>
            </div>
            


            <h1>Produktplakater</h1>
          </div>
          <div class="flex links"></div>
        </div>
        <div class="description">
          <p>
            Hvert år holder Waterloose Brewing Project en sommerfest, hvor de også laver nogle special øl til anledningen. Øllene bliver tappet på flasker som ikke har markater på. man kan kun kende
            forskel på kapslen. Derfor laver jeg hvert år en plakat til hver øl så man kan se hvilken kapsel der er hvilken øl.
          </p>
        </div>

      </div>
      <div class="img_grid">
        <img src="../img/produktplakater1.webp" alt="" />
        <img src="../img/produktplakater2.webp" alt="" />
        <img src="../img/oel_4.webp" alt="" />
        <img src="../img/produktplakat_4.webp" alt="" />
      </div>
      <div class="se_mere">
        <h2>Se andre cases</h2>

        <section class="shelf">
          <div class="wrapper">
            <PortCard img="efc_img1" title="EFC 2021" state="Koncept" date="2021" link="efc_case" />
            <PortCard img="oel" title="Øldåser" state="Waterloose Brewing Project" date="2021" link="oeldaaser" />
            <PortCard img="produktplakater" title="Produktplakater" state="Waterloose Brewing Project" date="2022" link="produktplakater" />
            <PortCard img="wbp" title="WBP identitet" state="Waterloose Brewing Project" date="2022" link="wbp" />
            <PortCard img="hvidt_flag" title="Pladecover" state="Koncept" date="2022" link="hvidt_flag" />
          </div>
        </section>
      </div>
    </main>
    <Footer />
  </body>
  <style>
    * {
      --secondary: #ff87b1;
      --primary: #fffefa;
      --accent: #027fb9;
    }

    .img_grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      margin-top: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .img_grid img {
      border-radius: 2rem;
    }

    .tags {
      justify-self: end;
      text-align: end;
      margin-top: 1rem;
      margin-right: 1rem;
    }
    .flex {
      display: flex;
      gap: 0.5rem;
    }
    .se_mere {
      margin-top: 5rem;
    }
    h1 {
          font-size: clamp(1.7rem, 8.9vw, 6rem);
    }
    .se_mere h2 {
      margin-left: 2rem;
      margin-right: 1rem;
      margin-bottom: 1rem;
    }
    .date {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: flex-start;
      gap: 0.3rem;
          align-items: center;


& p{
  line-height: 13px;
  padding-top: 0.2rem;

}
    }
    .date svg {
      width: 13px;
fill: var(--accent);
      height: 13px;

    }
    .img_grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      margin-top: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .img_grid img {
      border-radius: 2rem;
    }

    main {
      margin-top: 5.5rem;
    }

    .content {
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      margin: auto;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 1rem;

      & > *:first-child {
      }
    }

    .description {
      grid-column: 1;
      margin-top: 1rem;
    }
    h2 {
      font-size: 1.5rem;
      line-height: 1.5rem;
    }
    p {
      max-width: 30ch;
    }
    .img_container {
      background-image: url(../img/omada_wide.webp);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 2rem;
      overflow: hidden;
      min-height: 100%;
      height: 600px;
    }

    .img_2 {
      background-image: url(../img/omada_screen.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 2rem;
      overflow: hidden;
      min-height: 100%;
      height: 600px;
    }
    .info {
      margin-left: 1rem;
      margin-right: 1rem;
      margin-bottom: 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr;

      & .header {
        grid-column: 1/-1;
        display: flex;
        justify-content: space-between;
        column-gap: 1rem;
        flex-wrap: wrap;
        height: fit-content;
      }
      & .links {
        align-items: center;
      }
    }
    .active {
      box-sizing: border-box;
      border: 2px solid var(--secondary);
    }
    .shelf {
      overflow: hidden;
      overflow-x: scroll;
      scroll-behavior: smooth;

      cursor: url(svg/move_white.svg), auto !important;
      padding-bottom: 1rem;
      scroll-snap-type: x mandatory;
    }

    .wrapper {
      display: flex;
      gap: 0.5rem;
      margin-left: 1rem;
    }

    .wrapper:after {
      content: "";
      padding-right: 5rem;
    }
    @media (max-width: 768px) {

.description{
  grid-column:1/-1;
  & p {
    max-width:none;
  }
}

      .img_container {
        background-image: url(../img/omada_tall.webp);
      }

      .content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin: auto;
        margin-left: 1rem;
        margin-right: 1rem;
      }

      .info {
        order: -1;
      }

      .img_grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }
  </style>
</html>
