---
import Buyknap from "../components/Buyknap.astro";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Knap from "../components/Knap.astro";
import "../styles/general.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="svg/logo.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/fmg2iph.css" />
    <title>Julius Elikofer</title>
  </head>
  <body>
    <Header />
    <main>
      <h1>Metropolis</h1>
      <div class="content">
        <div class="img_container">
          <div class="img_1">
            <img src="img/metropolis_1.png" alt="" />
          </div>
          <div class="img_2 active">
            <img src="img/metropolis_1.png" alt="" />
          </div>
          <div class="img_2">
            <img src="img/metropolis_1.png" alt="" />
          </div>
          <div class="img_2">
            <img src="img/metropolis_1.png" alt="" />
          </div>
          <div class="img_2">
            <img src="img/metropolis_1.png" alt="" />
          </div>
        </div>
        <div class="info">
          <h3>Plakat af Julius Flemming</h3>
          <Buyknap />
        </div>
      </div>
    </main>

    <style>
      main {
        margin-top: 5.5rem;
      }

      .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      .img_container {
        margin-left: 1rem;
        gap: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        height: 600px;
      }

      .img_1 {
        display: flex;
        justify-content: center;
        align-items: center;

        grid-row: span 3;
        grid-column: span 5;
        border-radius: 2rem;
        overflow: hidden;
        min-height: 100%;
        min-width: 600px;
      }

      .img_1 img {
        min-height: 600px;
      }
      .img_2 {
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 2rem;
        overflow: hidden;
        height: 100%;
        width: 100%;
      }

      .active {
        box-sizing: border-box;
        border: 2px solid var(--secondary);
      }

      .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    </style>
  </body>
</html>
