---
import Knap from "./Knap.astro";
---

<section class="accordion_container">
  <div class="accordion">
    <div class="header">
      <img class="madklubben_logo" src="../../img/mk_logo_sort.png" alt="" />
      <div class="flex">
        <p class="year">2023 - nu</p>
        <img class="arrow" src="../../svg/arrow_down_black.svg" alt="" />
      </div>
    </div>
    <div class="outer">
      <div class="inner">
        <p>
          I juli 2023 startede jeg som inhouse grafiker hos Madklubben. Her står jeg for at lave visuelt indhold og skabe nye brands for Madklubben.
          <br />
          Allerede nu har jeg været grafisk ansvarlig for det visuelle brand af <span><a href="https://www.madklubben.dk/restauranter/koebenhavn/lupo/frederiksberg">Lupo Frederiksberg</a></span>, <span
            ><a href="https://www.madklubben.dk/restauranter/aarhus/lupo/aarhus">Lupo Aarhus</a></span
          > , <span><a href="https://www.madklubben.dk/restauranter/koebenhavn/hanzo/lyngby">Hanzo Lyngby</a></span> og <span><a href="#">Madklubben - Home of Carlsberg</a></span>
        </p>
        <div class="knap_container">
          <Knap name="Madklubben" link="https://www.madklubben.dk/" target="blank" />
        </div>
      </div>
    </div>
  </div>
  <div class="accordion">
    <div class="header">
      <img class="bocca_logo" src="../../svg/bocca-logo-red.svg" alt="" />
      <div class="flex">
        <p class="year">2020 - 2023</p>
        <img class="arrow" src="../../svg/arrow_down_black.svg" alt="" />
      </div>
    </div>
    <div class="outer">
      <div class="inner">
        <p>
          På BOCCA har jeg lavet grafik til en række storcentre. For det meste er det SoMe indhold og abribusser <br />
          Det bedste ved BOCCA er at der er plads til at udfordre sig selv og bruge sin egen kreativitet. <br />
          BOCCA er et sted hvor alle hjælper hindanen og alle arbejder på kryds og tvers med diverse opgaver.
        </p>
        <div class="knap_container">
          <Knap name="BOCCA" link="https://bocca.dk/" target="blank" />
        </div>
      </div>
    </div>
  </div>
  <div class="accordion">
    <div class="header">
      <img class="julius_logo" src="../../svg/julius_flemming_logo.svg" alt="" />
      <div class="flex">
        <p class="year">2020 - 2023</p>
        <img class="arrow" src="../../svg/arrow_down_black.svg" alt="" />
      </div>
    </div>
    <div class="outer">
      <div class="inner">
        <p>
          Siden 2018 har jeg haft min egen virksomhed. Herigennem har jeg solgt grafiske løsninger (Plakater, logoer, tryksager m.v.) til forskellige kunder. <br />
          <br /> Jeg har også solgt mine egne kunstplakater gennem min egen webshop, som dog er inaktiv i øjeblikket, da jeg simpelthen ikke har tid til at vedligeholde den lige nu. Mine plakater kan dog
          ses på min instagram og på min plakat side på min portfolio.
        </p>
        <div class="knap_container">
          <Knap name="Juliusflemming.com" link="/shop" target="blank" />
        </div>
      </div>
    </div>
  </div>
  <div class="accordion">
    <div class="header">
      <img class="kea_logo" src="../../img/kea_logo.png" alt="Kea logo" />
      <div class="flex">
        <p class="year">2022 - nu</p>
        <img class="arrow" src="../../svg/arrow_down_black.svg" alt="" />
      </div>
    </div>
    <div class="outer">
      <div class="inner">
        <p>
          Siden august 2022 har jeg gået på Multimediedesign på KEA. Her har jeg suppleret mine autodidakte evner inde for grafiske redskaber (RED Adobe pakken) med UI/UX viden og FIGMA færdigheder og
          færdigheder inde for frontend med HTML, CSS & JS.
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  .accordion_container {
    margin-top: 1rem;

    & .accordion {
      border-bottom: 1px solid var(--secondary);
      padding: 1.4rem;

      & .arrow {
        width: 30px;
        height: 20px;
        scale: 0.5;
      }
      & .madklubben_logo {
        width: 100px;
        height: auto;
        scale: 1;
      }
      & .kea_logo {
        width: auto;
        height: 20px;
        margin-left: 0.3rem;
      }
      & .bocca_logo {
        width: auto;
        height: 20px;
        scale: 1;
      }
      & .julius_logo {
        width: auto;
        height: 20px;
        scale: 1;
      }
      & .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &:hover {
        cursor: pointer;
      }
    }
    & .outer {
      overflow: hidden;
      display: grid;
      grid-template-rows: 0fr;
      transition: grid-template-rows 0.5s ease-in-out;
    }
    & .inner p {
      margin-top: 0.5rem;
      max-width: 60ch;
    }

    & .arrow {
      transition: 0.5s ease-in-out;
      transform: rotate(0deg);
    }
    & .active .arrow {
      transform: rotate(180deg);
      transition: 0.5s ease-in-out;
    }

    & .accordion .arrow {
      width: 30px;
      height: 20px;
      scale: 0.5;
    }

    & .accordion.active .outer {
      grid-template-rows: 1fr;
    }
    & .inner {
      overflow: hidden;
    }
    & .accordion_container {
    }

    & .flex {
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }

    & .year {
      font-size: 0.8rem;
    }

    & .knap_container {
      margin-top: 0.5rem;
      display: inline-block;
      margin-right: auto;
    }
    & a {
      color: var(--accent);
    }
  }
</style>

<script>
  const acc = document.querySelectorAll(".accordion");
  const header = document.querySelectorAll(".accordion .header");

  acc.forEach((thing) => {
    thing.addEventListener("click", () => {
      console.log("false klik");
      if (thing.classList.contains("active")) {
        acc.forEach((thing) => {
          thing.classList.remove("active");
        });
      } else {
        console.log("klik");
        acc.forEach((thing) => {
          thing.classList.remove("active");
        });

        thing.classList.add("active");
      }
    });
  });
</script>
