---
---

<div class="backs">
  <a class="back" href="portfolio">
    <img src="../svg/arrow_back_black.svg" alt="" />

    <p>Portfolio</p>
  </a>
</div>

<style>
  .backs {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }
  .back {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    gap: 0.2rem;
  }
  .back:hover {
    border-bottom: 1px solid var(--secondary);
    margin-right: auto;
  }
  .back img {
    width: 10px;
    margin-bottom: 0.1rem;
  }
</style>
