---
---

<footer>
  <a class="brand_logo" href="../../index">
    <div class="footer_brand">
      <svg xmlns="http://www.w3.org/2000/svg" width="457" height="457" viewBox="0 0 457 457">
        <g>
          <g>
            <rect x="223.79" width="9.42" height="457"></rect>
            <rect x="223.79" y="0" width="9.42" height="457" transform="translate(228.5 -94.65) rotate(45)"></rect>
            <rect x="223.79" width="9.42" height="457" transform="translate(457) rotate(90)"></rect>
            <rect x="223.79" y="0" width="9.42" height="457" transform="translate(551.65 228.5) rotate(135)"></rect>
            <rect x="223.79" y="0" width="9.42" height="457" transform="translate(551.65 228.5) rotate(135)"></rect>
            <rect x="223.79" y="0" width="9.42" height="457" transform="translate(104.45 -69.89) rotate(22.43)"></rect>
            <rect x="223.79" y="0" width="9.42" height="457" transform="translate(351.78 -70.21) rotate(67.43)"></rect>
            <rect x="223.79" y="0" width="9.42" height="457" transform="translate(526.89 104.45) rotate(112.43)"></rect>
            <rect x="223.79" y="0" width="9.42" height="457" transform="translate(527.21 351.78) rotate(157.43)"></rect>
            <rect x="223.79" y="0" width="9.42" height="457" transform="translate(527.21 351.78) rotate(157.43)"></rect>
          </g>
        </g>
      </svg>
    </div>
  </a>
  <div class="container">
    <div>
      <a class="link" href="../../portfolio"> <h3>Portfolio</h3></a>

      <a class="link" href="/efc_case">
        <p>EFC 2021</p>
        <span class="link_footer">
          <svg id="Layer_14" xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 128 128">
            <defs>
              <style>
                .cls-1 {
                  fill: #fff;
                }
                .cls-2 {
                  fill: none;
                  stroke: #fff;
                  stroke-miterlimit: 10;
                  stroke-width: 2px;
                }
              </style>
            </defs>
            <line class="cls-2" x1="57.87" y1="64" x2="72.3" y2="64"></line>
            <polygon class="cls-1" points="64.5 72.18 65.86 70.71 58.64 64 65.86 57.29 64.5 55.82 55.7 64 64.5 72.18"></polygon></svg
          >
        </span>
      </a>

      <a class="link" href="/produktplakater">
        <p>Produktplakater</p>
        <span class="link_footer">
          <svg id="Layer_14" xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 128 128">
            <defs>
              <style>
                .cls-1 {
                  fill: #fff;
                }
                .cls-2 {
                  fill: none;
                  stroke: #fff;
                  stroke-miterlimit: 10;
                  stroke-width: 2px;
                }
              </style>
            </defs>
            <line class="cls-2" x1="57.87" y1="64" x2="72.3" y2="64"></line>
            <polygon class="cls-1" points="64.5 72.18 65.86 70.71 58.64 64 65.86 57.29 64.5 55.82 55.7 64 64.5 72.18"></polygon></svg
          >
        </span>
      </a>

      <a class="link" href="/ndlfestival">
        <p>Nordic light festival</p>
        <span class="link_footer">
          <svg id="Layer_14" xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 128 128">
            <defs>
              <style>
                .cls-1 {
                  fill: #fff;
                }
                .cls-2 {
                  fill: none;
                  stroke: #fff;
                  stroke-miterlimit: 10;
                  stroke-width: 2px;
                }
              </style>
            </defs>
            <line class="cls-2" x1="57.87" y1="64" x2="72.3" y2="64"></line>
            <polygon class="cls-1" points="64.5 72.18 65.86 70.71 58.64 64 65.86 57.29 64.5 55.82 55.7 64 64.5 72.18"></polygon></svg
          >
        </span>
      </a>
      <a class="link" href="/wbp">
        <p>WBP identitet</p>
        <span class="link_footer">
          <svg id="Layer_14" xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 128 128">
            <defs>
              <style>
                .cls-1 {
                  fill: #fff;
                }
                .cls-2 {
                  fill: none;
                  stroke: #fff;
                  stroke-miterlimit: 10;
                  stroke-width: 2px;
                }
              </style>
            </defs>
            <line class="cls-2" x1="57.87" y1="64" x2="72.3" y2="64"></line>
            <polygon class="cls-1" points="64.5 72.18 65.86 70.71 58.64 64 65.86 57.29 64.5 55.82 55.7 64 64.5 72.18"></polygon></svg
          >
        </span>
      </a>
      <a class="link" href="/hvidt_flag">
        <p>Pladecover</p>
        <span class="link_footer">
          <svg id="Layer_14" xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 128 128">
            <defs>
              <style>
                .cls-1 {
                  fill: #fff;
                }
                .cls-2 {
                  fill: none;
                  stroke: #fff;
                  stroke-miterlimit: 10;
                  stroke-width: 2px;
                }
              </style>
            </defs>
            <line class="cls-2" x1="57.87" y1="64" x2="72.3" y2="64"></line>
            <polygon class="cls-1" points="64.5 72.18 65.86 70.71 58.64 64 65.86 57.29 64.5 55.82 55.7 64 64.5 72.18"></polygon></svg
          >
        </span>
      </a>
    </div>
    <div>
      <a class="link" href="../../om_mig">
        <h3>Om mig</h3>
      </a>
      <a class="link" href="/om_mig">
        <p>Info</p>
        <span class="link_footer">
          <svg id="Layer_14" xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 128 128">
            <defs>
              <style>
                .cls-1 {
                  fill: #fff;
                }
                .cls-2 {
                  fill: none;
                  stroke: #fff;
                  stroke-miterlimit: 10;
                  stroke-width: 2px;
                }
              </style>
            </defs>
            <line class="cls-2" x1="57.87" y1="64" x2="72.3" y2="64"></line>
            <polygon class="cls-1" points="64.5 72.18 65.86 70.71 58.64 64 65.86 57.29 64.5 55.82 55.7 64 64.5 72.18"></polygon></svg
          >
        </span>
      </a>
      <a class="link" href="/om_mig">
        <p>CV</p>
        <span class="link_footer">
          <svg id="Layer_14" xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 128 128">
            <defs>
              <style>
                .cls-1 {
                  fill: #fff;
                }
                .cls-2 {
                  fill: none;
                  stroke: #fff;
                  stroke-miterlimit: 10;
                  stroke-width: 2px;
                }
              </style>
            </defs>
            <line class="cls-2" x1="57.87" y1="64" x2="72.3" y2="64"></line>
            <polygon class="cls-1" points="64.5 72.18 65.86 70.71 58.64 64 65.86 57.29 64.5 55.82 55.7 64 64.5 72.18"></polygon></svg
          >
        </span>
      </a>
    </div>
    <div>
      <a class="link" href="../../om_mig#kontakt"><h3>Kontakt</h3></a>
      <div>
        <a class="link" href="https://www.instagram.com/juliusflemming1/" target="_blank">
          <p>Instagram</p>
          <span class="link_footer">
            <svg id="Layer_14" xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 128 128">
              <defs>
                <style>
                  .cls-1 {
                    fill: #fff;
                  }
                  .cls-2 {
                    fill: none;
                    stroke: #fff;
                    stroke-miterlimit: 10;
                    stroke-width: 2px;
                  }
                </style>
              </defs>
              <line class="cls-2" x1="57.87" y1="64" x2="72.3" y2="64"></line>
              <polygon class="cls-1" points="64.5 72.18 65.86 70.71 58.64 64 65.86 57.29 64.5 55.82 55.7 64 64.5 72.18"></polygon></svg
            >
          </span>
        </a>
        <a class="link" href="mailto: j.elikofer@gmail.com">
          <p>Mail</p>
          <span class="link_footer">
            <svg id="Layer_14" xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 128 128">
              <defs>
                <style>
                  .cls-1 {
                    fill: #fff;
                  }
                  .cls-2 {
                    fill: none;
                    stroke: #fff;
                    stroke-miterlimit: 10;
                    stroke-width: 2px;
                  }
                </style>
              </defs>
              <line class="cls-2" x1="57.87" y1="64" x2="72.3" y2="64"></line>
              <polygon class="cls-1" points="64.5 72.18 65.86 70.71 58.64 64 65.86 57.29 64.5 55.82 55.7 64 64.5 72.18"></polygon></svg
            >
          </span>
        </a>
        <a class="link" href="https://www.linkedin.com/in/julius-flemming-theil-e-a55293113" target="_blank">
          <p>LinkedIn</p>
          <span class="link_footer">
            <svg id="Layer_14" xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 128 128">
              <defs>
                <style>
                  .cls-1 {
                    fill: #fff;
                  }
                  .cls-2 {
                    fill: none;
                    stroke: #fff;
                    stroke-miterlimit: 10;
                    stroke-width: 2px;
                  }
                </style>
              </defs>
              <line class="cls-2" x1="57.87" y1="64" x2="72.3" y2="64"></line>
              <polygon class="cls-1" points="64.5 72.18 65.86 70.71 58.64 64 65.86 57.29 64.5 55.82 55.7 64 64.5 72.18"></polygon></svg
            >
          </span>
        </a>
        <a class="link" href="https://twitter.com/juliusflemming1" target="_blank">
          <p>Twitter</p>
          <span class="link_footer">
            <svg id="Layer_14" xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 128 128">
              <defs>
                <style>
                  .cls-1 {
                    fill: #fff;
                  }
                  .cls-2 {
                    fill: none;
                    stroke: #fff;
                    stroke-miterlimit: 10;
                    stroke-width: 2px;
                  }
                </style>
              </defs>
              <line class="cls-2" x1="57.87" y1="64" x2="72.3" y2="64"></line>
              <polygon class="cls-1" points="64.5 72.18 65.86 70.71 58.64 64 65.86 57.29 64.5 55.82 55.7 64 64.5 72.18"></polygon></svg
            >
          </span>
        </a>
      </div>
    </div>
  </div>
</footer>

<style>
  footer {
    margin-top: 5rem;
    background-color: var(--secondary);
    color: var(--primary);
    overflow: hidden;
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  footer h3 {
    margin: 0;
    margin-top: 1rem;
    color: var(--primary);
  }

  footer p {
    margin: 0;
    color: var(--primary);
  }
  .link_footer {
    opacity: 0%;
    transition: 0.3s ease-in-out;
  }

  .link_footer svg {
    margin-top: -3.5rem;
    transform: rotate(135deg);
    margin-left: -3.5rem;
    margin-bottom: -3.7rem;
    margin-right: -3.7rem;
  }

  .link_footer svg polygon {
    fill: var(--primary);
  }
  .link_footer svg line {
    stroke: var(--primary);
  }

  .footer_brand svg {
    fill: var(--primary);
    width: 5rem;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s ease;
  }

  .footer_rotate:hover {
    transform: rotate(45deg);
    transition: 0.5s ease;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: 2rem;
  }

  footer .container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: auto;
    margin-bottom: auto;
    gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  footer .grid_2_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: auto;
    margin-bottom: auto;
  }

  .link {
    display: flex;
    justify-content: space-between;
    padding-right: 0.1rem;
    margin-top: 1rem;
    gap: 0.3rem;
    overflow: hidden;
  }
  .link:hover .link_footer {
    opacity: 100%;
    transition: 0.3s ease-in-out;
  }
  .link:hover {
    border-bottom: var(--primary) solid 1.5px;
  }
  .side {
    border-bottom: var(--primary) solid 1.5px;
    padding-bottom: 1rem;
  }

  @media (max-width: 800px) {
    footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .brand_logo {
      order: 2;
    }

    footer .container {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      margin-top: auto;
      margin-bottom: auto;
      gap: 1rem;
      margin-top: 2rem;
      margin-right: 1rem;
    }
  }
</style>
