---
---

<header>
  <nav class="navbar">
    <a href="../" class="nav-branding"><img src="../../svg/logo.svg" alt="" /></a>
    <ul class="nav-menu">
      <li class="nav-item">
        <a class="nav-link" href="../../portfolio">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../../shop">Plakater</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../../om_mig">Om mig</a>
      </li>
    </ul>
    <div class="hamburger">
      <span class="bar1"></span>
      <span class="bar2"></span>
      <span class="bar3"></span>
    </div>
  </nav>
</header>

<style>
  /********Header******/

  header {
    background-color: var(--primary);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
  }

  li {
    list-style: none;
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--secondary);
    font-size: 1.2rem;
  }

  li :hover {
    transition: 0.1s ease;
    border-bottom: var(--secondary) solid 1.5px;
  }

  a {
    color: var(--secondary);
    text-decoration: none;
  }

  .navbar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    border-bottom: var(--secondary) solid 1.5px;
  }

  .nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 100%;
  }

  .nav-branding {
    width: 2.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-right: 2rem;
  }

  .nav-branding img:hover {
    transform: rotate(45deg);

    transition: 0.3s ease;
  }

  .nav-link {
    transition: 0.7s ease;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }
  @media (max-width: 768px) {
    .hamburger {
      display: block;
    }

    li {
      list-style: none;

      font-weight: 600;
      font-style: normal;
      color: var(--secondary);
      font-size: 4rem;
    }

    .bar1 {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: var(--secondary);
    }
    .bar2 {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: var(--secondary);
    }
    .bar3 {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: var(--secondary);
    }

    .bar2.active {
      opacity: 0;
    }

    .bar1.active {
      transform: translateY(8px) rotate(45deg);
    }

    .bar3.active {
      transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
      position: fixed;
      left: -130%;
      top: 71px;
      gap: 1rem;
      flex-direction: column;
      background-color: var(--secondary);
      opacity: 100%;
      width: 100%;
      text-align: center;
      transition: 0.8s cubic-bezier(0.77, 0.45, 0.3, 1);
      padding-left: 0;
    }

    .nav-item {
      margin: 16px;
    }

    .nav-item a {
      color: var(--primary);
    }
    .nav-item a:hover {
      border: none;
    }

    .nav-menu.active {
      left: 0;
      transition: 0.8s cubic-bezier(0.77, 0.45, 0.3, 1);
    }
  }
</style>

<script>
  const hamburger = document.querySelector(".hamburger");
  const navMenu = document.querySelector(".nav-menu");
  const wrapper = document.querySelector(".wrapper");

  const bar1 = document.querySelector(".bar1");
  const bar2 = document.querySelector(".bar2");
  const bar3 = document.querySelector(".bar3");

  hamburger.addEventListener("click", burgeractive);

  function burgeractive() {
    console.log("jhsdfhs");
    hamburger.classList.toggle("active");
    navMenu.classList.toggle("active");
    bar1.classList.toggle("active");
    bar2.classList.toggle("active");
    bar3.classList.toggle("active");
  }
</script>
