---
---

<header>
  <nav class="navbar">
    <a href="../" class="nav-branding">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 457 457"
        ><g id="Layer_1-2"
          ><g
            ><rect x="223.79" width="9.42" height="457"></rect><rect x="223.79" y="0" width="9.42" height="457" transform="translate(228.5 -94.65) rotate(45)"></rect><rect
              x="223.79"
              width="9.42"
              height="457"
              transform="translate(457) rotate(90)"></rect><rect x="223.79" y="0" width="9.42" height="457" transform="translate(551.65 228.5) rotate(135)"></rect><rect
              x="223.79"
              y="0"
              width="9.42"
              height="457"
              transform="translate(551.65 228.5) rotate(135)"></rect><rect x="223.79" y="0" width="9.42" height="457" transform="translate(104.45 -69.89) rotate(22.43)"></rect><rect
              x="223.79"
              y="0"
              width="9.42"
              height="457"
              transform="translate(351.78 -70.21) rotate(67.43)"></rect><rect x="223.79" y="0" width="9.42" height="457" transform="translate(526.89 104.45) rotate(112.43)"></rect><rect
              x="223.79"
              y="0"
              width="9.42"
              height="457"
              transform="translate(527.21 351.78) rotate(157.43)"></rect><rect x="223.79" y="0" width="9.42" height="457" transform="translate(527.21 351.78) rotate(157.43)"></rect></g
          ></g
        ></svg
      >
    </a>

    <ul class="nav-menu">
      <h1>menu</h1>

      <li class="nav-item">
        <a class="nav-link" href="../../portfolio">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../../shop">Plakater</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../../om_mig">Om mig</a>
      </li>
    </ul>

    <div class="hamburger">
      <span class="bar1"></span>
      <span class="bar2"></span>
      <span class="bar3"></span>
    </div>
  </nav>
</header>
<div class="blur"></div>
<style>
  /********Header******/

  header {
    backdrop-filter: blur(8px);

    opacity: 1;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999999;
    & h1 {
      font-size: 6rem;
      line-height: 6rem;
      color: var(--primary);
    }
  }
  .blur {
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 70px;

    z-index: 999;
    display: block;
    opacity: 0;

    pointer-events: none;
    transition: 0.8s cubic-bezier(0.77, 0.45, 0.3, 1);
    &.active {
      left: 0;
      opacity: 1;
      transition: 0.8s cubic-bezier(0.77, 0.45, 0.3, 1);
    }
  }

  header li {
    list-style: none;
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--secondary);
    font-size: 1.2rem;
  }

  header li :hover {
    transition: 0.1s ease;
    border-bottom: var(--secondary) solid 1.5px;
  }

  header a {
    color: var(--secondary);
    text-decoration: none;
    &:hover {
      font-style: italic;
    }
  }

  header .navbar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }

  header .nav-branding {
    width: 2.5rem;
    z-index: 99999;
    & svg {
      fill: var(--secondary);
    }

    &.active {
      & svg {
        transition: 0.8s cubic-bezier(0.77, 0.45, 0.3, 1);
        fill: var(--primary);
      }
    }
  }

  header .nav-branding svg:hover {
    transform: rotate(45deg);

    transition: 0.3s ease;
  }

  header .nav-link {
    transition: 0.7s ease;
  }

  header .hamburger {
    display: none;
    cursor: pointer;
    z-index: 999999;
    transition: 0.8s cubic-bezier(0.77, 0.45, 0.3, 1);

    &.active > * {
      background-color: var(--primary);
      transition: 0.8s cubic-bezier(0.77, 0.45, 0.3, 1);
    }

    &.active {
    }
  }

  header .hamburger {
    display: block;
  }

  header li {
    list-style: none;

    font-weight: 600;
    font-style: normal;
    color: var(--secondary);
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 1rem;
  }

  header .bar1 {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--secondary);
  }
  header .bar2 {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--secondary);
  }
  header .bar3 {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--secondary);
  }

  header .bar2.active {
    opacity: 0;
  }

  header .bar1.active {
    transform: translateY(8px) rotate(45deg);
  }

  header .bar3.active {
    transform: translateY(-8px) rotate(-45deg);
  }

  header .nav-menu {
    padding-top: 5rem;
    position: fixed;
    transform-origin: left;
    right: -120%;
    top: 0;
    gap: 1rem;

    background-color: var(--secondary);
    opacity: 100%;
    width: 500px;
    height: 100lvh;
    text-align: center;
    transition: 0.8s cubic-bezier(0.77, 0.45, 0.3, 1);
    padding-left: 2rem;
    z-index: 9999;

    @media (width<700px) {
      width: 100vw;
      & > * {
        margin-left: 2rem;
      }
    }

    > * {
      text-align: left;
    }
  }

  header .nav-item {
  }

  header .nav-item a {
    color: var(--primary);
  }
  header .nav-item a:hover {
    border: none;
  }

  header .nav-menu.active {
    right: 0;
    transition: 0.8s cubic-bezier(0.77, 0.45, 0.3, 1);
  }

  ul h1,
  li {
    position: relative;
    left: 0rem;

    opacity: 0%;
    transition: 0.8s;
  }

  .nav-menu.active {
    & h1,
    li {
      transition: 0.8s;
      animation-name: fadeLeft;
      animation-duration: 0.9s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      &:nth-child(1) {
        animation-delay: 0.2s;
      }
      &:nth-child(2) {
        animation-delay: 0.3s;
      }
      &:nth-child(3) {
        animation-delay: 0.4s;
      }
      &:nth-child(4) {
        animation-delay: 0.5s;
      }
    }
  }

  @keyframes fadeLeft {
    from {
      left: 5rem;

      opacity: 0%;
    }

    to {
      left: 0rem;
      top: 0;
      opacity: 100%;
    }
  }
</style>

<script>
  const hamburger = document.querySelector(".hamburger");
  const navMenu = document.querySelector(".nav-menu");
  const wrapper = document.querySelector(".wrapper");
  const blur = document.querySelector(".blur");
  const navBranding = document.querySelector(".nav-branding");

  const bar1 = document.querySelector(".bar1");
  const bar2 = document.querySelector(".bar2");
  const bar3 = document.querySelector(".bar3");

  hamburger.addEventListener("click", burgeractive);

  function burgeractive() {
    blur.classList.toggle("active");
    navBranding.classList.toggle("active");
    console.log("jhsdfhs");
    hamburger.classList.toggle("active");
    navMenu.classList.toggle("active");
    bar1.classList.toggle("active");
    bar2.classList.toggle("active");
    bar3.classList.toggle("active");
  }
</script>
