---
---

<header>
  <nav class="navbar">
    <a href="index.html" class="nav-branding"><img src="../../svg/logo.svg" alt="" /></a>
    <ul class="nav-menu">
      <li class="nav-item">
        <a class="nav-link" href="portfolio.html">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="om_mig.html">Om mig</a>
      </li>
    </ul>
    <div class="hamburger">
      <span class="bar1"></span>
      <span class="bar2"></span>
      <span class="bar3"></span>
    </div>
  </nav>
</header>

<style>
  /********Header******/

  header {
    background-color: var(--primary);
    position: relative;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
  }

  li {
    list-style: none;
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--secondary);
    font-size: 1.2rem;
  }

  li :hover {
    transition: 0.1s ease;
    border-bottom: var(--secondary) solid 1.5px;
  }

  a {
    color: var(--secondary);
    text-decoration: none;
  }

  .navbar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    border-bottom: var(--secondary) solid 1.5px;
  }

  .nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 100%;
  }

  .nav-branding {
    width: 2.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-right: 2rem;
  }

  .nav-branding img:hover {
    transform: rotate(45deg);

    transition: 0.3s ease;
  }

  .nav-link {
    transition: 0.7s ease;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }
</style>
