---
const { name, link, color, target, download, loader } = Astro.props;
---

<a class={color + " button se_alle " + loader} href={link} target={target} }>
  {name}

  <div class={"loading"}>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js" is:inline></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-interactivity@latest/dist/lottie-interactivity.min.js" is:inline></script>
    <lottie-player id="mylottie" src="img/loader.json" autoplay loop></lottie-player>
  </div>

  <span class="link_arrow hide_1">
    <svg class={download} id="Layer_14" xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 128 128">
      <defs>
        <style>
          .cls-1 {
            fill: #fff;
          }
          .cls-2 {
            fill: none;
            stroke: #fff;
            stroke-miterlimit: 10;
            stroke-width: 2px;
          }
        </style>
      </defs>
      <line class="cls-2" x1="57.87" y1="64" x2="72.3" y2="64"></line>
      <polygon class="cls-1" points="64.5 72.18 65.86 70.71 58.64 64 65.86 57.29 64.5 55.82 55.7 64 64.5 72.18"></polygon></svg
    >
  </span>
</a>

<style>
  .loader .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 2;
    height: 1rem;
    margin-left: 1rem;
    margin-top: 0.2rem;
  }

  .loader .link_arrow {
    display: none;
  }
  .loading {
    display: none;
  }
  a {
    text-decoration: none;
  }
  .button {
    display: flex;
    justify-content: center;
    padding: 0.6rem 1rem 0.6rem 1rem;
    text-align: center;
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    background-color: var(--secondary);
    border: var(--secondary) solid 1.5px;
    color: var(--primary);
    padding: 0.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
    transition: 0.5s ease;
    cursor: pointer;
    overflow: hidden;
  }

  .button:hover {
    overflow: hidden;
    transition: 0.5s ease;
  }

  .button .text {
    z-index: 2;
    background-color: var(--secondary);
  }

  .button .link_arrow {
    pointer-events: none;
    opacity: 0%;
    transition: 0.5s ease;
    margin-left: -0.8rem;
  }

  .button:hover .link_arrow {
    margin-left: 0.2rem;
    opacity: 100%;
  }

  .button .link_arrow svg polygon {
    fill: var(--primary);
  }

  .button .link_arrow svg line {
    stroke: var(--primary);
  }

  a svg {
    margin-top: -3.5rem;
    transform: rotate(135deg);
    margin-left: -3.5rem;
    margin-bottom: -3.7rem;
    margin-right: -3.7rem;
    fill: var(--secondary);
  }

  a svg.download {
    transform: rotate(-135deg);
  }

  .white {
    background-color: var(--primary);
    color: var(--secondary);
  }

  .white .link_arrow svg polygon {
    fill: var(--secondary);
  }

  .white .link_arrow svg line {
    stroke: var(--secondary);
  }
</style>
