---
import Cards from "./Cards.astro";
---

<section class="shelf pc full_width full_width">
  <div class="wrapper">
    <Cards />
  </div>
</section>
<section class="shelf mobile">
  <div class="wrapper">
    <Cards />
  </div>
</section>

<style>
  section {
    margin-top: 1rem;
    margin-left: 1rem;
  }

  .shelf {
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
    margin-top: 1rem;
    cursor: url(svg/move_white.svg), auto !important;
    padding-bottom: 1rem;
    scroll-snap-type: x mandatory;
    grid-column: 2;
  }

  .mobile {
    display: none;
  }

  @media (max-width: 800px) {
    .pc {
      display: none;
    }
    .mobile {
      display: block;
    }
  }
  & .full_width {
  }

  .wrapper {
    display: flex;
    gap: 0.5rem;

    @media (width>500px) {
      --gap: 0rem;
      --content-width: 800px;
    }
  }

  .wrapper:after {
    content: "";
    padding-right: 5rem;
  }
</style>
