<section class="transition"></section>

<style>
  .transition {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left:100%
    background-color: var(--secondary);
    pointer-events:none;
    z-index: 999;

  }

  .show {
    left: 100%;
  }
</style>
